<!DOCTYPE html>
<html>

<head>
    <title>moodie</title>
</head>

<body>
    <h1>Welcome to Moodie!</h1>
    <p>How are you feeling? Enter your current mood and how you would like to feel after watching a movive.</p>
    <form action="/recommend" method="post">
        <input type="text" name="query" placeholder="Enter your mood">
        <input type="submit" value="Get Recommendations">
    </form>
    <p>Already watched some movies? Rate them and provide your feedback to get movies similar to your taste.</p>
    <a href="/rate">Rate Movies</a>
</body>

</html>