
<!DOCTYPE html>
<html>
    <head>
        <title>moodie</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <p>this is a test</p>
        <div class="tweet-submit-container">
            <form action="/search" type="GET">
                <div>
                    <input id="inputText" type="text" name="searchQuery" placeholder="Ask a question"/>
                </div>            
    
                <div>
                    <input type="submit" name="submitbutton" value="Enter" id="submitButton" />
                </div>
            </form>
        </div>
    
        <div id="allMessagesContainer" class="items-container">
        </div>
    </body>
</html>